body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 95vh;
    background: #398f5a;
}

.loading {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 1px;
    height: 95vh;
}

.el {
    position: absolute;
    opacity: .6;
    width: 1px;
    height: 24vh;
    margin-top: -12vh;
    transform-origin: 50% 100%;
    background: white;
}
